.userprofile-container {
  height: 16rem;
  margin: 1rem 0 2rem 0;
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 8.5rem;
  padding-left: 12.5rem;
  background: linear-gradient(#213555 50%, #d1f3f9 50%);
  position: relative;
}

.userpost-container {
  min-height: 50%;
  border-radius: 2rem;
  background-color: #dee4ec;
  padding: 2rem 3rem;
}

.userpost-container-header {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  border-bottom: 1px solid #c6cbd3;
}

.user-post-and-announcements {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.user-post {
  width: 53%;
}

.user-announcement {
  width: 43%;
  min-height: 10rem;
  background-color: #c6cbd3a3;
  border-radius: 1rem;
  padding: 1rem;
}

.userprofile-createpost-announce-container {
  display: flex;
  height: 2rem;
}

.--userprofile {
  overflow-y: scroll;
  padding: 2rem;
}

.bio {
  font-size: 1.2rem;
}

.empty {
  text-align: center;
}
