.announcement-container {
  height: 100%;
  width: 35%;
  padding: 0 1rem 2rem 1rem;
}

.announcement-tab {
  height: 100%;
  width: 100%;
  background-color: #4f709c1f;
  border-radius: 1rem;
  padding: 1rem;

  overflow-y: scroll;
}

.announcement-header-text {
  text-align: center;
  margin-bottom: 1rem;
}

.create-announcement {
  text-align: center;
  margin-bottom: 1rem;
}

.announcement-list {
  font-size: 0.8rem;
}
