.container {
  display: flex;
}

.dashboard {
  display: inline-block;
  width: calc(100vw - 11rem);
  height: 100vh;
  padding: 2rem 2rem 0 0;
}

.header {
  height: 5rem;
  padding: 0 0 1rem 1.5rem;
  /* padding-left: 1.5rem; */
  display: flex;
  justify-content: space-between;
}

.posts-announcements-container {
  display: flex;
  justify-content: space-around;
  height: calc(100% - 5rem);
}

.--highlight {
  color: #e6d283;
  font-family: Helvetica, sans-serif;
}
