.login-background {
  background-image: url("../../../assets/images/loginbg.png");
  width: 100vw;
  height: 100vh;
}

.login-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4eeee;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75rem;
  height: 37rem;
  border-radius: 1rem;
  transition: 300ms;
}

.login-form-container {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-message-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4f709c;
  border-radius: 1rem;
  padding: 4rem;
}

.message-container {
  margin-bottom: 3rem;
  color: #f4eeee;
}

.login-form {
  width: 85%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-input {
  margin-bottom: 1.5rem;
}

.login-input:focus {
  outline: 0;
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  font-size: 2.9rem;
}

.form-subheader {
  margin-bottom: 2rem;
}

.login-input {
  width: 18rem;
}

.utils-container {
  width: 18rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.message-header {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.message-content {
  text-align: justify;
  font-weight: 500;
  font-size: 0.85rem;
}

.not-signedin-container {
  text-align: center;
}

.not-signedin-container-label {
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  color: #f4eeee;
}

.signin-text {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  text-align: center;
}

/* modifyers */

.--white-btn {
  background-color: #f4eeee;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  border: none;
  border-left: 0.1rem solid #b7c9f9;
  border-top: 0.2rem solid #b7c9f9;
  border-right: 0.1rem solid #b7c9f9;
  color: #4f709c;
  font-weight: 500;
}

.--blue-btn {
  background-color: #4f709c;
  min-width: 10rem;
  height: 2rem;
  border-radius: 1.2rem;
  border: none;
  border-left: 0.1rem solid #36547a;
  border-top: 0.2rem solid #36547a;
  border-right: 0.1rem solid #36547a;
  color: #f4eeee;
  font-weight: 500;
}
